<log4net>
    <appender name="A1" type="log4net.Appender.ConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%message%newline" />
        </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
        <file value="/var/lib/my-rest/log/RestLog.txt" />
        <appendToFile value="true" />
        <maxSizeRollBackups value="20" />
        <rollingStyle value="date" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%message%newline" />
        </layout>
    </appender>
    <root>
        <level value="ALL" />
        <appender-ref ref="A1" />
        <appender-ref ref="RollingFile" />
    </root>
</log4net>